body {
  background-color: #d9d9d9;
  color: #59564b;
  margin: auto;
  padding: 10px 10px;
  padding-top: 25px;
  padding-bottom: 100px;
  text-align: center;
  font-family: "Baloo Chettan 2";
  font-size: 18px;
  letter-spacing: 1.5px;
}

main {
  text-align: center;
  display: flex;
  font-family: "Baloo Chettan 2";
  letter-spacing: 1.5px;
  flex-direction: column;
  border: 1px solid #b0a8b3;
  padding: 50px;
  background-color: #ededed;
  border-radius: 20px;
}

h1 {
  font-size: 24px;
}

#bookmark,
.expand,
.error-content {
  font-size: 16px;
  background-color: #f7f7f7;
  border-radius: 20px;
  border: 1px solid #b0a8b3;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 65%;
  order: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.error-content {
  width: 75%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content {
  margin: 10px 0;
}

#enter-link,
#enter-title,
#input-description {
  text-align: center;
  width: 42%;
  height: 25px;
  border-radius: 10px;
  border: 1px solid #b0a8b3;
}

#filter,
#rating {
  text-align: center;
  width: 20%;
  border-radius: 10px;
  border: 1px solid #b0a8b3;
  height: 22px;
}

button {
  padding: 16px;
  margin: 20px 5px;
  border-radius: 10px;
  border: 1px solid #b0a8b3;
  background-color: #f7f7f7;
}

#new-button {
  width: 45%;
  font: "Baloo Chettan 2";
  font-size: 14px;
}

.my-bookmarks-view {
  margin: auto;
}

.rating-box {
  margin: 15px;
}

a:link {
  color: #546e7a;
}
a:hover {
  color: #ffc0cb;
}

@media all and (min-width: 800px) {
  body {
    background-color: #d9d9d9;
    color: #59564b;
    margin: auto;
    padding: 10px;
    padding-top: 100px;
    text-align: center;
    font-family: "Tenor Sans", sans-serif;
    font-size: 18px;
  }

  main {
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #b0a8b3;
    padding: 50px;
    background-color: #ededed;
    border-radius: 20px;
    width: 35%;
    margin: auto;
  }

  button,
  .add-bookmark {
    margin: auto;
    margin-bottom: 8px;
  }

  .bookmark-item {
    background-color: #f7f7f7;
    width: 50%;
    margin: auto;
  }

  .my-bookmarks-view {
    margin: 0px 100px;
  }

  #enter-link,
  #enter-title,
  #input-description,
  #filter-filter,
  #filter {
    width: 45%;
  }

  .ratings {
    margin-bottom: 10px;
  }
<<<<<<< HEAD

  #filter,
  .filter,
  #rating {
    width: 12%;
=======
  
  #filter, .filter, #rating {
    width: 18%;
  }

  .save-and-cancel {
    margin-top: 10px;
>>>>>>> 61d1f59170aab49cffd03153aeb27bc11bbd4d8d
  }
}
