
body {
  background-color: #D9D9D9;
  color: #59564B;
  margin: auto;
  padding: 10px 10px;
  padding-top: 25px;
  padding-bottom: 100px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1.5px;
}

main {
  text-align: center;
  display: flex;
  font-family: 'Baloo Chettan 2';
  letter-spacing: 1.5px;
  flex-direction: column;
  border: 1px solid #B0A8B3;
  padding: 50px;
  background-color: #EDEDED;
  border-radius: 20px;
}

h1 {
  font-size: 24px;
}

.bookmark-item {
  background-color: #EDEDED;
  border-radius: 20px;
  border: 1px solid #B0A8B3;
  display: flex;
  flex-direction: column;
  margin: auto;
  order: 1;
  text-align: center;
}

.bookmark-list .js-bookmark-list {
  margin: auto;
  display: flex;
  flex-direction:column;
}

button {
  padding: 16px;
  margin: 20px 5px;
  border-radius: 10px;
  border: 1px solid #B0A8B3;
  background-color: #F7F7F7;
}

ul {
  list-style-type:none;
  text-align: center;
  list-style-position: inside;
}

.bookmark-item, .bookmark-expanded {
  background-color: #F7F7F7;
  padding: 10px 10px;
  margin: auto;
}

.my-bookmarks-view {
  margin: auto;
}

.rating-box {
  margin: 15px;
}


a:link    { color:#546E7A; }
a:hover   { color: #FFC0CB; }

@media all and (min-width: 733px) {

  body {
    background-color: #D9D9D9;
    color: #59564B;
    margin: auto;
    padding: 10px;
    padding-top: 100px;
    text-align: center;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 18px;
  }

  main {
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #B0A8B3;
    padding: 50px;
    background-color: #EDEDED;
    border-radius: 20px;
    width: 45%;
    margin: auto;
  }

  button {
    margin-top: 24px;
  } 

  .bookmark-item {
    background-color: #F7F7F7;
    width: 50%;
    margin: auto;
  }
  
  .my-bookmarks-view {
    margin: 0px 100px;
  }

}

