
body {
  background-color: #D9D9D9;
  color: #59564B;
  margin: auto;
  padding: 10px 10px;
  padding-top: 25px;
  padding-bottom: 100px;
  text-align: center;
  font-family: 'Baloo Chettan 2';
  font-size: 18px;
  letter-spacing: 1.5px;
}

main {
  text-align: center;
  display: flex;
  font-family: 'Baloo Chettan 2';
  letter-spacing: 1.5px;
  flex-direction: column;
  border: 1px solid #B0A8B3;
  padding: 50px;
  background-color: #EDEDED;
  border-radius: 20px;
}

h1 {
  font-size: 24px;
}

#bookmark, .collapsible, .error-content {
  font-size: 16px;
  background-color: #F7F7F7;
  border-radius: 20px;
  border: 1px solid #B0A8B3;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 65%;
  order: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.error-content {
  width: 75%;
}

.content {
  margin: 10px 0;
}

#enter-link, #enter-title, #input-description, #filter {
  text-align: center;
  width: 42%;
  height: 25px;
  border-radius: 10px;
  border: 1px solid #B0A8B3;
}

button {
  padding: 16px;
  margin: 20px 5px;
  border-radius: 10px;
  border: 1px solid #B0A8B3;
  background-color: #F7F7F7;
}

#new-button {
  width: 45%;
  font: 'Baloo Chettan 2';
  font-size: 14px;
}

.my-bookmarks-view {
  margin: auto;
}

.rating-box {
  margin: 15px;
}



a:link    { color:#546E7A; }
a:hover   { color: #FFC0CB; }

@media all and (min-width: 733px) {

  body {
    background-color: #D9D9D9;
    color: #59564B;
    margin: auto;
    padding: 10px;
    padding-top: 100px;
    text-align: center;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 18px;
  }

  main {
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #B0A8B3;
    padding: 50px;
    background-color: #EDEDED;
    border-radius: 20px;
    width: 45%;
    margin: auto;
  }

  button, .new-button {
    margin:auto;
    margin-bottom: 8px;
  } 

  .bookmark-item {
    background-color: #F7F7F7;
    width: 50%;
    margin: auto;
  }
  
  .my-bookmarks-view {
    margin: 0px 100px;
  }

  #enter-link, #enter-title, #input-description, #filter-filter, #filter {
    width: 45%;
  }
}

